$calendar-padding: 10px;
$calendar-cols: 7;
$cell-size: 100px;
$cell-gap: 1px;
$calendar-width: $calendar-cols * $cell-size + ($calendar-cols - 1) * $cell-gap +
  2 * $calendar-padding;
$cell-color: #eee;
$hover-cell-color: #ffbfcb;
$cell-border-color: #000;
$step: $cell-size + $cell-gap;
$starts: (
  sun: 0,
  mon: 1,
  tue: 2,
  wed: 3,
  thu: 4,
  fri: 5,
  sat: 6,
);
